* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f6f8;
  color: #333;
}

/* Navigation Bar */
nav {
  background-color: #007bff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.name-pic {
  display: flex;
  align-items: center;
}

.name-pic span {
  color: #fff;
  margin-right: 0.5rem;
}

.name-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="url"],
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  /* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  * {
    -ms-overflow-style: none;
  }